/* The slider */
.onoffswitch {
    position: relative; width: 156px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 60px; padding: 0; line-height: 60px;
    font-size: 26px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 24px;
    background-color: #FF6308; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 24px;
    background-color: #888888; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 35px; margin: 12.5px;
    height: 35px;
    background: #FFFFFF;
    position: absolute; top: 0;
    right: 92px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
